<h1>Editing lessons change</h1>

<%= render "form", lessons_change: @lessons_change %>

<br>

<div>
  <%= link_to "Show this lessons change", @lessons_change %> |
  <%= link_to "Back to lessons changes", lessons_changes_path %>
</div>
