<h1> <%= t(".name") %> </h1>

<%= render "form", lessons_change: @lessons_change %>

<br>

<div>
  <%= link_to t(".show"), @lessons_change %> |
  <%= link_to t(".back"), lessons_changes_path %>
</div>
