<h1><%= t(".groups")%></h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<% if current_user&.able_to_edit?(:schedule) %>
  <%= link_to t(".new"), new_group_path, class: "pb-3" %>
<% end %>
