<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<%= link_to t(".new"), new_group_path, class: "pb-3" %>
