<h3><%= @user.email %></h3>

<%= render "form", user: @user %>

<br>

<div>
  <ul>
    <li>
    <%= link_to t(".change_password"), rodauth.change_password_path, method: :post %>
    </li>
    <li>
    <%= link_to t(".close_account"), rodauth.close_account_path %>
    </li>
  </ul>
</div>
