<p style="color: green"><%= notice %></p>

<h1><%= t(".schedules")%></h1>

<div id="schedules">
  <h3 class="text-center">
    <strong>Group:</strong>
    <%= @group.name %>
  </h3>

  <div class="row">
    <% schedules = @schedules.where(group: @group)%>
    <% schedules.each do |schedule| %>
      <%= render schedule %>
    <% end %>
  </div>
</div>
