<p style="color: green"><%= notice %></p>

<h1>Schedules</h1>

<% groups = @schedules.map(&:group).uniq %>

<div id="schedules">
  <% groups.each do |group| %>
    <p>
      <strong>Group:</strong>
      <%= group %>
    </p>

    <div class="row">
      <% schedules = @schedules.where(group: group)%>
      <% schedules.each do |schedule| %>
        <%= render schedule %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New schedule", new_schedule_path %>
